{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <div class="base">
        <nav class="nav nav-pills nav-justified">
          <a class="nav-link active" aria-current="page" href="#"><h3>Главная</h3></a>
          <a class="nav-link" href="#"><h3>Товары</h3></a>
          <a class="nav-link" href="#"><h3>О сайте</h3></a>

        </nav>
    </div>

</head>
<body>

</body>
</html>